<h1 class="do-print">Stakeholder-Übersicht</h1>

<div *ngIf="showBar">
  <chart id="sh_bar_chart" [type]="type" [data]="data" [options]="options"></chart>
</div>
<div id="overview">
  <div *ngIf="current_stakeholder">
    <!--<span><b>Typ:</b> {{current_stakeholder.type}}</span>-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class=""><b><i>{{current_stakeholder.name}}</i></b></h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4 do-not-print">
            <div class="list-group">
              <a  (click)="open_sh = !open_sh" class="list-group-item" data-toggle="collapse">
                <span class="badge">{{current_sh_process.length}}</span>
                Prozesse als Stakeholder
              </a>
              <div *ngIf="open_sh">
                <ul class="nav nav-pills nav-stacked nav-proc">
                  <li *ngFor="let proc of current_sh_process"
                      (click)="selectProcess(proc)"
                      [ngClass]="{'proc-active':current_proc == proc}">
                    <a>{{proc.name}}</a>
                  </li>
                </ul>
              </div>
              <a (click)="open_p = !open_p" class="list-group-item" data-toggle="collapse">
                <span class="badge">{{current_p_process.length}}</span>
                Prozesse als Teilnehmer
              </a>
              <div *ngIf="open_p">
                <ul class="nav nav-pills nav-stacked nav-proc-p">
                  <li *ngFor="let proc_p of current_p_process"
                      (click)="selectProcess(proc_p)"
                      [ngClass]="{'proc-p-active':current_proc == proc_p}">
                    <a>{{proc_p.name}}</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-sm-8 add-padding-print">
            <div *ngIf="current_proc">
              <h3>{{current_proc.name}}</h3>
              <span class="desc">{{current_proc.description}}</span>
                <table class="table">
                  <tr>
                    <td><b>Stakeholder: </b></td>
                    <td><a (click)="loadData(current_initiator)">{{current_initiator}}</a></td>
                  </tr>
                  <tr>
                    <td><b>Teilnehmer: </b></td>
                    <td>
                      <span *ngIf="current_participants.length == 0">Keine</span>
                      <ul *ngIf="current_participants">
                        <li *ngFor="let part of current_participants">
                          <a (click)="loadData(part.name)">{{part.name}}</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Location: </b></td>
                    <td>{{current_loc}}</td>
                  </tr>
                  <tr>
                    <td><b>Zeitraum: </b></td>
                    <td>{{current_proc.start | date:'longDate'}} - {{current_proc["end (optional)"] | date:'longDate'}}</td>
                  </tr>
                  <tr>
                    <td><b>Status für Teilnahme: </b></td>
                    <td>{{current_proc.participation}}</td>
                  </tr>
                  <tr>
                    <td><b>Typ: </b></td>
                    <td>
                      <span *ngIf="current_proc.transformation.type == '<'" tooltip="(Input kleiner als Output)" placement="right">Erschaffung </span>
                      <span *ngIf="current_proc.transformation.type == '>'" tooltip="(Input größer als Output)" placement="right">Entscheidung </span>
                      <span *ngIf="current_proc.transformation.type == '='" tooltip="(Input und Output gleich groß)" placement="right">Anfrage </span>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Entscheidung: </b></td>
                    <td>
                      <span *ngIf="current_proc.transformation.decision == 'true'">
                        <i class="fa fa-check-circle fa-fw"></i>Getroffen
                      </span>
                          <span *ngIf="current_proc.transformation.decision == 'false'">
                        <i class="fa fa-times-circle fa-fw"></i>Nicht getroffen
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Anhänge: </b></td>
                    <td>
                      <span *ngIf="current_proc['results (optional)'][0].name == 'Antrag'">keine</span>
                      <ul *ngIf="current_proc['results (optional)'][0].name != 'Antrag'">
                        <li *ngFor="let attach of current_proc['results (optional)']">
                          <a class="openPDF" (click)="openPDF(attach.description);">{{attach.name}} <i class="fa fa-external-link"></i></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
