<div *ngIf="showBar">
  <chart id="sh_bar_chart" [type]="type" [data]="data" [options]="options"></chart>
</div>
<div id="overview">
  <div *ngIf="current_stakeholder">
    <h2>Stakeholder: <b><i>{{current_stakeholder.name}}</i></b></h2>
    <!--<span><b>Typ:</b> {{current_stakeholder.type}}</span>-->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Prozess-Übersicht</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="list-group">
              <a  (click)="open_sh = !open_sh" class="list-group-item" data-toggle="collapse">
                <span *ngIf="current_sh_process.length" class="badge">{{current_sh_process.length}}</span>
                Prozesse als Stakeholder
              </a>
              <div *ngIf="open_sh">
                <ul class="nav nav-pills nav-stacked nav-proc">
                  <li *ngFor="let proc of current_sh_process"
                      (click)="selectProcess(proc)"
                      [ngClass]="{'proc-active':current_proc == proc}">
                    <a>{{proc.name}}</a>
                  </li>
                </ul>
              </div>
              <a (click)="open_p = !open_p" class="list-group-item" data-toggle="collapse">
                <span *ngIf="current_p_process.length" class="badge">{{current_p_process.length}}</span>
                Prozesse als Teilnehmer
              </a>
              <div *ngIf="open_p">
                <ul class="nav nav-pills nav-stacked nav-proc-p">
                  <li *ngFor="let proc_p of current_p_process"
                      (click)="selectProcess(proc_p)"
                      [ngClass]="{'proc-p-active':current_proc == proc_p}">
                    <a>{{proc_p.name}}</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-sm-8">
            <div *ngIf="current_proc">
              <h3>{{current_proc.name}}</h3>
              <span class="desc">{{current_proc.description}}</span>
              <div>
                <b>Stakeholder: </b>
                <a (click)="loadData(current_initiator)">{{current_initiator}}</a><br>
                <b>Teilnehmer: </b><span *ngIf="current_participants.length == 0">Keine</span><br>
                <ul *ngIf="current_participants">
                  <li *ngFor="let part of current_participants">
                    <a (click)="loadData(part.name)">{{part.name}}</a>
                  </li>
                </ul>
                <b>Location: </b>{{current_loc}}<br>
                <b>Zeitraum: </b>{{current_proc.start | date:'longDate'}} - {{current_proc["end (optional)"] | date:'longDate'}}<br>
                <b>Typ: </b>
                <span *ngIf="current_proc.transformation.type == '<'" tooltip="(Input kleiner als Output)" placement="right">Erschaffung </span>
                <span *ngIf="current_proc.transformation.type == '>'" tooltip="(Input größer als Output)" placement="right">Entscheidung </span>
                <span *ngIf="current_proc.transformation.type == '='" tooltip="(Input und Output gleich groß)" placement="right">Anfrage </span>
                <br>
                <b>Entscheidung: </b>
                  <span *ngIf="current_proc.transformation.decision == 'true'">
                    <i class="fa fa-check-circle fa-fw"></i>Getroffen
                  </span>
                  <span *ngIf="current_proc.transformation.decision == 'false'">
                    <i class="fa fa-times-circle fa-fw"></i>Nicht getroffen
                  </span>
                <br>
                <b>Anhänge: </b> <embed src="../../assets/attachment/1%20Grundsatzbeschluss.pdf" width="250" height="187" type='application/pdf'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
