<div id="complete-page">
  <app-navigation></app-navigation>
  <div class="container page-content">
    <!--<app-network></app-network>
    <div class="row">-->
      <div class="btn-group do-not-print" btnRadioGroup [(ngModel)]="radioModel">
        <label class="btn btn-primary" btnRadio="process" routerLink="process">Prozessübersicht</label>
        <label class="btn btn-primary" btnRadio="stakeholder" routerLink="stakeholder">Stakeholder</label>
        <label class="btn btn-primary" btnRadio="location" routerLink="location">Ort-Übersicht</label>
      </div>
      <div class="pull-right do-not-print">
        <button class="btn btn-primary" type="button" (click)="createPDF()">Drucken</button>
      </div>
    <!--</div>

    <app-ganttchart></app-ganttchart>-->
    <router-outlet></router-outlet>
  </div>
  <footer class="footer do-not-print">
    <div class="container container-footer">
      <span>Saskia Mohr, 2018</span><br>
      <span>Beleg in "Programmierung von Benutzeroberflächen"</span>
    </div>
  </footer>
</div>




