.btn-group{
  margin-bottom: 20px;
}
/*
.btn-primary{
  background-color: rgb(66, 134, 244);
  border-color: darkblue;
}
*/
.btn-primary.active{
  background-color: #204d74;
}


.footer{
  background-color: #204d74;
  color: white;
  margin-top: 30px;
  min-height: 50px;
}
