<app-navigation></app-navigation>
<div class="container">
  <!--<app-network></app-network>-->
  <div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
    <label class="btn btn-primary" btnRadio="process" routerLink="process">Process</label>
    <label class="btn btn-primary" btnRadio="stakeholder" routerLink="stakeholder">Stakeholder</label>
    <label class="btn btn-primary" btnRadio="location" routerLink="location">Location</label>
  </div>
  <!--<app-ganttchart></app-ganttchart>-->
  <router-outlet></router-outlet>
</div>



